<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Xml.Linq" #>
public static class EmbeddedResources
{
<#
  static string GetRelativePath(string fromPath, string toPath)
  {
    var fromUri = new Uri(fromPath);
    var toUri = new Uri(toPath);
    var relativeUri = fromUri.MakeRelativeUri(toUri);
    var relativePath = Uri.UnescapeDataString(relativeUri.ToString());
    return relativePath.Replace(oldChar: '/', Path.DirectorySeparatorChar);
  }

  var csprojPath = Host.ResolvePath("AssociationRegistry.Test.Acm.Api.csproj"); // Adjust this to your file path
  var xDocument = XDocument.Load(csprojPath);
  var embeddedResourceElements = xDocument.Descendants("EmbeddedResource");

  foreach (var embeddedResourceElement in embeddedResourceElements)
  {
    var includePath = embeddedResourceElement.Attribute("Include").Value;
    if (includePath.Contains("*")) // Wildcard pattern
    {
      var wildcardIndex = includePath.IndexOf('*');
      var lastDirectorySeparator = includePath.LastIndexOf('\\', wildcardIndex);
      var directoryPath = includePath.Substring(0, lastDirectorySeparator);
      var extension = Path.GetExtension(includePath);

      var files = Directory.GetFiles(Host.ResolvePath(directoryPath), "*" + extension);
      foreach (var file in files)
      {
        var relativePath = GetRelativePath(csprojPath, file).Replace(oldChar: '\\', newChar: '.').Replace(oldChar: '/', newChar: '.');
        WriteStaticResourceName(relativePath);
      }
    }
    else // Direct path
    {
      WriteStaticResourceName(Path.GetFileName(includePath));
    }
  }
#>
}
<#+
  private void WriteStaticResourceName(string resourceName)
  {
    // Convert the resource name to a valid C# identifier (if needed)
    var validResourceName = new string(resourceName
                                         .Select(ch => char.IsLetterOrDigit(ch) ? ch : '_')
                                         .ToArray());

    WriteLine($"    public const string {validResourceName} = \"{resourceName}\";");
  }
#>
