appsettings.*.json
!appsettings.development.json
!appsettings.e2e.*.json
!appsettings.e2e.json
!appsettings.powerbi.json
!appsettings.projections.json
*.Importer-*.config
wwwroot/

# Internal folders created by marten for prebuilding
otel-collector-config.yaml
src/*/Internal

.vs/
.vscode/
.fake/
.idea/
.ionide/
.paket/
dotCover.Output/
dotCover.Output.html

[Pp]ackages/
[Pp]aket-files/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Xx]64/
[Dd]ist/
[Tt]est[Rr]esults/

*.suo
*.user
*.sln.docstates
*.ntvs*
*.njsproj

node_modules/
bower_components/
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ncrunchproject
*ncrunchsolution
_Ncrunch_*
TestResults.xml
tracing*.log

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

crabimport-request-*.json
structurizr-*.json
