framework: net8.0
source https://api.nuget.org/v3/index.json
// lowest_matching: true
// PRODUCTION STUFF
nuget Alba

nuget AutoBogus
nuget AutoFixture
nuget AutoFixture.Xunit2

nuget Amazon.Lambda.SQSEvents
nuget Amazon.Lambda.RuntimeSupport
nuget AWSSDK.S3
nuget AWSSDK.SQS
nuget Amazon.Lambda.Core
nuget Amazon.Lambda.Serialization.SystemTextJson
nuget AWSSDK.SimpleSystemsManagement

nuget Be.Vlaanderen.Basisregisters.AssociationRegistry
nuget Be.Vlaanderen.Basisregisters.AggregateSource
nuget Be.Vlaanderen.Basisregisters.Api
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline
nuget Be.Vlaanderen.Basisregisters.Generators.Guid.Deterministic
nuget Be.Vlaanderen.Basisregisters.Utilities.Rfc3339DateTimeOffset

nuget CSVHelper

nuget Destructurama.JsonNet 3.0.0

nuget FluentAssertions
nuget FluentAssertions.Json

nuget IdentityModel.AspNetCore.OAuth2Introspection

nuget CompareNETObjects

nuget Marten
nuget Marten.AspNetCore 7.37.1
nuget Marten.Commandline

nuget Microsoft.AspNetCore.App.Ref
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.AspNetCore.Mvc.Testing
nuget Microsoft.Extensions.Configuration.Binder
nuget Microsoft.Extensions.Diagnostics.HealthChecks
nuget Microsoft.Extensions.Http
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.NETCore.Platforms
nuget Moq
nuget NpgSql.OpenTelemetry

nuget OpenTelemetry
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol
nuget OpenTelemetry.Exporter.Console
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol.Logs
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.AspNetCore
nuget OpenTelemetry.Instrumentation.Http
nuget OpenTelemetry.Instrumentation.Runtime
nuget OpenTelemetry.Contrib.Instrumentation.AWS

nuget Confluent.Kafka
nuget Polly
nuget Result.Net 1.4.0

nuget Slack.Webhooks

nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true

nuget Scriban

nuget Be.Vlaanderen.Basisregisters.GrAr.Contracts
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Swagger 5.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Swagger.ReDoc 5.0.0
nuget Swashbuckle.AspNetCore.Swagger 6.2.3
nuget Swashbuckle.AspNetCore.SwaggerGen 6.2.3
nuget Swashbuckle.AspNetCore.SwaggerUI 6.2.3

nuget WolverineFx
nuget WolverineFx.AmazonSqs
nuget WolverineFx.Marten

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.assert
nuget xunit.runner.visualstudio
nuget xunit.categories

nuget Asp.Versioning.Mvc.ApiExplorer 8.0.0

nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex
nuget Be.Vlaanderen.Basisregisters.Converters.TrimString
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson
nuget NodaTime.Serialization.JsonNet
nuget Serilog
nuget Serilog.Formatting.Compact
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Thread
nuget Serilog.Extensions.Logging
nuget Serilog.Settings.Configuration
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Serilog.Sinks.OpenTelemetry
nuget FluentValidation

nuget System.ServiceModel.Duplex 6.0.0
nuget System.ServiceModel.Http 6.2.0
nuget System.ServiceModel.NetTcp 6.2.0
nuget System.ServiceModel.Security 6.0.0

// ELASTICSEARCH
nuget NEST 7.17.4

nuget Npgsql


